wget==3.2
pytest==7.4.2
json5
retrying==1.3.4
tabulate==0.9.0
jieba==0.42.1
nltk==3.8.1
tqdm==4.66.1
six==1.16.0
click==8.1.7
dateutils==0.6.12
certifi==2023.11.17
urllib3==1.26.16
python-dateutil==2.8.2
networkx==3.1
pydantic
requests==2.31.0
psutil
Jinja2>=3.0.3
cachetools==5.3.2
numpy>=1.23.1
pypdf
pandas
pycryptodome
markdown==3.7
bs4
protobuf==3.20.1
neo4j
dashscope
deprecated
schedule
openai
python-docx
charset_normalizer==3.3.2
pdfminer.six==20231228
ollama
tenacity
pyhocon
zodb
matplotlib
PyPDF2
ruamel.yaml
PyYAML
json_repair
gitpython
docstring_parser
aiolimiter
pyodps==0.12.2
aliyun-log-python-sdk==0.8.8
pyvis
aiofiles
mcp==1.6.0
httpx
diskcache
portalocker
