namespace {{namespace}}


HealthFood(保健食品): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
Disease(疾病): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
DiseaseCategory(疾病类目): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
ExaminationTest(检查检验): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
Department(科室): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
Population(人群): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
HumanBodyPart(人体部位): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
SurgicalOperation(手术操作): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
SpecialMedicalFood(特医食品): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
Medicine(药品): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
MedicalInsuranceReimbursementPolicy(医保报销政策): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
MedicalEquipment(医疗器械): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
Doctor(医生): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
Hospital(医院): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
Vaccine(疫苗): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
MedicalAdvice(诊疗建议): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
Symptom(症状): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
ComprehensiveService(综合服务): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text
MedicalTerminology(医学术语): EntityType
     properties:
        desc(描述): Text
            index: Text
        semanticType(语义类型): Text
            index: Text