database:
  host: {{ database.host }}
  port: {{ database.port }}
  user: {{ database.user }}
  password: {{ database.password }}
  name: {{ database.name }}

server:
  host: {{ server.host }}
  port: {{ server.port }}